.mainForm {
    width: 400px;
    margin: 10px auto 5px;
}

.searchLine::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.searchLine:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

form > div > input {
    margin: 10px 0 10px 0;
}

.searchLine {
    float: left;
}

.searchButton {
    margin: 10px;
}

.addNewButton {
    float: right;
}


.trButtons {
    text-align: center;
}
