
form {
    width: 400px;
    margin: 10px auto 5px;
}

#search::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#search:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#search:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

form > div > input {
    margin: 10px 0 10px 0;
}

#search {
    float: left;
}

#searchButton {
    margin: 10px;
}

#addNewButton {
    float: right;
}

table {
    width: 400px;
    border-collapse: collapse;
    border: 1px solid #000;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

th {
    text-align: left;
    background: lightgray;
}

#modalForm, #deleteForm {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
}

#modalForm #modalClose {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}


#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#modalForm > div {
    margin: 0 0 10px 0;
}

#modalForm > div label {
    display: block;
}

#count {
    width: 70px;
}

.errorForm {
    color: red;
}

.sortable th.ascend:after {
    float: right;
    content: "\25BC";
}

.sortable th.descend:after {
    float: right;
    content: "\25B2";
}

.error {
    border: 1px solid red;
}

.productCount {
    float: right;
    background-color: darkgrey;
    border-radius: 25%;
}

#deleteForm {
    width: 250px;
    height: 100px;
}

#deleteForm h1 {
    margin: auto;
    border-bottom: 2px solid black;
}

#deleteForm input {
    width: 30%;
    margin: auto;
    display: inline-block;
}

#deleteForm div {
    text-align: center;
}

.editProduct {
    width: 54px;
    margin-right: 10px;
}

.trButtons {
    text-align: center;
}